<h2>Exercise 5</h2>
<h3>Your mission is to refactor our two dropdowns code into one component</h3>
<ol>
  <li>The code for both our country and state dropdowns is very similar</li>
  <li>Create a component that refactors the behavior of those dropdowns in one single reusable component</li>
  <li>Then use two instances of that component, one for country selection, one for state selection</li>
  <li>Render both currently selected <code>country</code> and <code>state</code> as JSON below the dropdowns</li>
</ol>
<h4>You can take a look at the expected result here: <a routerLink="/solution/5">http://localhost:4200/solution/5</a> </h4>
<hr>
<h2>Result</h2>
<div >
  <div class="dropdown">
    <input type="text" class="dropbtn" [formControl]="countryControl"
           placeholder="Enter country name" >
    <div class="dropdown-content" *ngIf="countries$ | async as countries">
      <span *ngFor="let country of countries" (click)="updateStates(country)"
            [innerHTML]="country.description | highlight: countryControl.value">
      </span>
    </div>
  </div>
</div>
<div >
  <div class="dropdown">
    <input type="text" class="dropbtn" [formControl]="stateControl"
           placeholder="Enter your state">
    <div class="dropdown-content" *ngIf="states$ | async as states">
      <span *ngFor="let s of states" (click)="stateControl.setValue(s.description)"
            [innerHTML]="s.description | titlecase | highlight: stateControl.value">
      </span>
    </div>
  </div>
</div>
