<h2>Exercise 5</h2>
<h3>Your mission is to refactor our two dropdowns code into one component</h3>
<img src="assets/exercise5.gif" />
<ol>
  <li>The code for both our country and state dropdowns is very similar</li>
  <li>Create a component that refactors the behavior of those dropdowns in one single reusable component</li>
  <li>Then use two instances of that component, one for country selection, one for state selection</li>
  <li>Render both currently selected <code>country</code> and <code>state</code> as JSON below the dropdowns</li>
</ol>
<h4>You can take a look at the expected result here: <a routerLink="/solution/5">http://localhost:4200/solution/5</a> </h4>
<hr>
<h2>Result</h2>
<div >
    <!-- pass needed data for country drop down to child -->
    <app-reusable-filter-dropdown [List$]="countries$" (selectedEvent)="selected($event)" 
    placeholder="Enter country name"></app-reusable-filter-dropdown>
</div>
<div >
    <!-- pass needed data for states drop down to child and retrieve country chosen -->
    <app-reusable-filter-dropdown [List$]="statesForCountry$" [(select)]="states"
    placeholder="Enter your state"></app-reusable-filter-dropdown>
</div>
<div>Country Selected: {{ data.Country | json }}</div>
<div>State/Province Selected{{ data.State | json}}</div>
