<h2>Exercise 7</h2>
<h3>Your mission is to custoize the previous solution even further by being able to provide three different HTML elements for every single state</h3>
<ol>
  <li>For instance, I could use that solution to initially display a <code>Save</code> button</li>
  <li>Then the button becomes a spinner image when clicked</li>
  <li>Finally, the element becomes a disabled button with a different background color upon completion of the action</li>
  <li>Your solution should work on any clickable HTML element, and the rendered states should be fully customizable (template, style, etc.)</li>
  <li>A sample spinner image can be used to test your intermediate state: <code>assets/loader.gif</code></li>
</ol>
<h4>You can take a look at the expected result here: <a routerLink="/solution/7">http://localhost:4200/solution/7</a> </h4>
<hr>
<h2>Result</h2>
<button>Save</button>
<br> <br>
<a href="javascript:">Save from a link</a>
