a {
  color: white;
}
button {
  background-color: yellow;
  color: white;
  font-size: 27px;
  font-weight: bold;
  border: groove;
}

button[loading] {
  background-color: yellowgreen;
}

button[saved] {
  background-color: green;
}

button img {
  width: 70px;
}