<h2>Exercise 3</h2>
<h3>Your mission is to update our dropdowns so the user can type a value to filter out the dropdown contents</h3>
<img src="assets/exercise3.gif" />
<ol>
  <li>If the user types 'Ca' then only the countries that have 'ca' in their name should show up in the list</li>
  <li>The filter should not be case-sensitive</li>
  <li>The matching portion of the country name should be rendered in <b>bold text</b>, for instance: <b>Ca</b>nada</li>
  <li>Do not worry about applying the same behavior to the state dropdown for now. Just make sure that the state dropdown still works after your changes.</li>
</ol>
<h4>You can take a look at the expected result here: <a routerLink="/solution/3">http://localhost:4200/solution/3</a> </h4>
<hr>
<h2>Result</h2>
<div *ngIf="countries$ | async as countries">
  <div class="dropdown">
    <input type="text" class="dropbtn" [value]="country?.description" placeholder="Enter country name">
    <div class="dropdown-content">
      <span *ngFor="let country of countries" (click)="updateStates(country)">{{country.description}}</span>
    </div>
  </div>
</div>
<div *ngIf="states$ | async as states">
  <div class="dropdown">
    <input type="text" class="dropbtn" [value]="state?.description" [disabled]="states.length == 0" placeholder="Enter your state">
    <div class="dropdown-content">
      <span *ngFor="let s of states" (click)="state = s">{{s.description | titlecase}}</span>
    </div>
  </div>
</div>
