<h2>Exercise 6</h2>
<h3>Your mission is to create a solution that turns a clickable element into an action trigger with 3 states</h3>
<img src="assets/exercise6.gif" />
<ol>
  <li>For instance, I could use that solution on a button with 3 possible text labels: <code>Save</code>, <code>Saving...</code>, and <code>Saved!</code></li>
  <li>An <code>action</code> would be passed as an <code>Observable</code>. When the button is clicked, the action is triggered and the button text changes to <code>Saving...</code></li>
  <li>Once the <code>Observable</code> returns a value, the button text changes to <code>Saved!</code></li>
  <li>Try to make a reusable solution where everything can be customized, from the action to the text for the 3 states</li>
  <li>Your solution should work on any clickable HTML element, not just buttons</li>
</ol>
<h4>You can take a look at the expected result here: <a routerLink="/solution/6">http://localhost:4200/solution/6</a> </h4>
<hr>
<h2>Result</h2>
<button>Save</button>
<br> <br>
<a href="javascript:none()">Save from a link</a>
