<h2>Solution 7</h2>
<h2>Result</h2>
<div >
  <app-state-button [action]="action$">
    <button default>Save</button>
    <button working><img src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif'/></button>
    <button done>Saved!</button>
  </app-state-button>

</div>
<br> <br>
<div>
  <app-state-button [action]="action$">
    <a default href="javascript:none()" >Save from a link</a>
    <img working src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif'/>
    <h4 done>Done!</h4>
  </app-state-button>
</div>
