<h2>Solution 3</h2>
<h2>Result</h2>
<div >
  <div class="dropdown">
    <input type="text" class="dropbtn" [formControl]="countryControl"
           placeholder="Enter country name" >
    <div class="dropdown-content" *ngIf="countries$ | async as countries">
      <span *ngFor="let country of countries" (click)="updateStates(country)"
            [innerHTML]="country.description | highlight: countryControl.value">
      </span>
    </div>
  </div>
</div>
<div *ngIf="states$ | async as states">
  <div class="dropdown">
    <input type="text" class="dropbtn" [value]="state?.description" [disabled]="states.length == 0" placeholder="Enter your state">
    <div class="dropdown-content">
      <span *ngFor="let s of states" (click)="state = s">{{s.description | titlecase}}</span>
    </div>
  </div>
</div>
