<h2>Exercise 1</h2>
<p>Your mission is to turn the following dropdown into a country-selection dropdown. </p>
<ol>
  <li>Open a terminal in your project <code>ng-advanced-workshop</code></li>
  <li>Run <code>npm i -g json-server</code> in that terminal to download the server that's going to run our sample back-end</li>
  <li>Run <code>json-server --watch json/db.json</code> to start our sample back-end</li>
  <li>Update the code in <code>app/exercise1</code> so that our component loads its list of countries from <code>http://localhost:3000/countries</code></li>
</ol>
<hr>
<h2>Result</h2>
<!-- Edit the code down below to implement the requested features -->
<select>
  <option>United States of America</option>
</select>
