<h2>Exercise 1</h2>
<h3>Your mission is to turn the following dropdown into a country-selection dropdown. </h3>
<img src="assets/exercise1.gif" />
<ol>
  <li>Open a terminal in your project <code>ng-advanced-workshop</code></li>
  <li>Run <code>npm run server</code> to start the sample back-end that holds the data needed for all exercises</li>
  <li>Update the code in <code>app/exercise1</code> so that our component loads its list of countries from <code>http://localhost:3000/countries</code></li>
  <li>Display the total number of countries in the corresponding <code>div</code></li>
  <li>Selecting a country should result in the <code>id</code> of the country being set as the dropdown value</li>
</ol>
<h4>You can take a look at the expected result here: <a routerLink="/solution/1">http://localhost:4200/solution/1</a> </h4>
<hr>
<h2>Result</h2>
<!-- Edit the code down below to implement the requested features -->
<ng-container *ngIf="countryAmount > 0">
  <div>Select one of  countries: {{countryAmount}} </div>
  <mat-form-field>
    <mat-label>Country Selection</mat-label>
  <mat-select [formControl]="countryChoice">
    <mat-option  *ngFor="let country of countries"
     [value]="country.id">
      {{country.description}}
    </mat-option>
  </mat-select>
  </mat-form-field>
  <div>Current value: {{countryChoice.value}} </div>
</ng-container>
